.education-main {
  width: 100%;
}

.basic-education {
  margin-left: 5%;
  margin-right: 5%;
}

.heading-div {
  display: flex;
}

.heading-div > * {
  flex: 1;
}

.heading-img-div {
  align-items: center;
  justify-content: center;
}

.heading-text-div {
  text-align: center;
}

.heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 100px;
  color: orange;
}

.heading-sub-text {
  font-size: 30px;
  font-family: "Google Sans Regular";
  text-align: center;
  color: orange;
}

.heading-sub-text-new {
  font-size: 30px;
  font-family: "Google Sans Regular";
  text-align: center;
  color: orange;
}


.organizations-img {
  width: 300px;
  height: 300px;
}

.organizations-imgnew {
  width: 150px;
  height: auto;
}

.organizations-imgnewnew {
  width: 50px;
  height: auto;
}

.organizations-inline {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 50px;
  font-family: "Google Sans Regular";
}

.organizations-inline:hover {
  -moz-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
  -webkit-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}

.button {
  background-color: rgb(204, 153, 58);
  text-decoration: none;
  color: rgb(31, 29, 25);
  padding: 15px 15px;
  margin-top: 25px;
  border-radius: 4px;
  border-width: 0px;
  margin-bottom: 20px;
  width: 230px;
  height: 50px;
  font-weight: bold;
  font-family: "Google Sans Regular";
  font-size: 17px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;  
}

@media (max-width: 1380px) {
  .heading-text {
    font-size: 50px;
    margin-top: 80px;
  }
  .heading-sub-text {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .heading-text {
    font-size: 30px;
    margin-top: 20px;
  }

  .heading-sub-text {
    font-size: 20px;
  }

  .heading-div {
    flex-direction: column;
  }
}

.containerCer {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.box {
  flex: 1;
  padding: 20px;
  margin: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;

  position: relative;
  margin-bottom: 30px;
  background-size: cover;
  color: white;
}

.box img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.text {
  text-align: center;
  margin-top: 10px;
}


.ribbon1 {
  position: absolute;
  top: -6.1px;
  right: 10px;
}
.ribbon1:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 53px solid transparent;
  border-right: 53px solid transparent;
  border-top: 10px solid #F8463F;
}
.ribbon1 span {
  position: relative;
  display: block;
  text-align: center;
  background: #F8463F;
  font-size: 14px;
  line-height: 1;
  padding: 12px 8px 10px;
  border-top-right-radius: 8px;
  width: 90px;
}
.ribbon1 span:before, .ribbon1 span:after {
  position: absolute;
  content: "";
}
.ribbon1 span:before {
 height: 6px;
 width: 6px;
 left: -6px;
 top: 0;
 background: #F8463F;
}
.ribbon1 span:after {
 height: 6px;
 width: 8px;
 left: -8px;
 top: 0;
 border-radius: 8px 8px 0 0;
 background: #C02031;
}

@media (min-width: 500px) {
  .ribbons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .ribbon {
    width: 48%;
  }
}


.heading-sub-text-new h1 {
  font-weight: normal;
  position: relative;
  background: #F4F9FA;
  width: 80%;
  color: #d87607;
  text-align: center;
  padding: 10px 20px;
  margin: 20px auto 40px;
  text-transform: uppercase;
  border-radius: 2px;
}
.heading-sub-text-new h1:before, 
.heading-sub-text-new h1:after {
  content: "";
  position: absolute;
  top: -6px;
  border: 18px solid #DCF4F4;
}
.heading-sub-text-new h1:before {
  left: -36px;
  border-right-width: 18px;
  border-left-color: transparent;
}
.heading-sub-text-new h1:after {
  right: -36px;
  border-left-width: 18px;
  border-right-color: transparent;
}
.heading-sub-text-new h1 span:before, 
.heading-sub-text-new h1 span:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #A7CECC transparent transparent transparent;
  top: -6px;
  transform: rotate(180deg);
}
.heading-sub-text-new h1 span:before {
  left: 0;
  border-width: 6px 0 0 6px;
}
.heading-sub-text-new h1 span:after {
  right: 0;
  border-width: 6px 6px 0 0;
}